<!DOCTYPE html>
<html>
<head>
    <title>Movie Stylizer</title>
</head>
<body>
    <h1>Movie Stylizer</h1>

    <form method="POST" enctype="multipart/form-data">
        <label>Select image:</label><br>
        <input type="file" name="file" required><br><br>

        <label>Select movie style:</label><br>
        <select name="movie">
            <option value="fa">Fallen Angels</option>
            <option value="ml">In The Mood For Love</option>
        </select><br><br>

        <button type="submit">Apply Style</button>
    </form>

    {% if done %}
        <h3>Styled result ready!</h3>
        <a href="/download">Download image</a><br><br>
        <img src="/static/styled.jpg" width="400">
    {% endif %}
</body>
</html>
